<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}My Shop{% endblock %}</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">

  <nav class="bg-white shadow p-4 flex justify-between items-center">

    <div class="text-xl font-bold text-blue-600 cursor-pointer">
      <a href="{% url 'catalogue:product_list' %}">Shop</a>
    </div>

    <div>
      <a href="{% url 'catalogue:cart_detail' %}" class="relative inline-block">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-blue-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M3 3h2l.4 2M7 13h10l4-8H5.4"/>
          <circle cx="9" cy="21" r="1"/>
          <circle cx="20" cy="21" r="1"/>
        </svg>
        {% if request.session.cart %}
        <span
          class="absolute top-0 right-0 inline-flex items-center justify-center px-2 py-1 text-xs font-bold text-white bg-red-600 rounded-full"
        >
          {{ request.session.cart|length }}
        </span>
        {% endif %}
      </a>
    </div>
  </nav>


  <main class="container mx-auto p-6 min-h-screen">
    {% block content %}

    <p class="text-center text-gray-500 text-lg">Welcome to My Shop! Use navigation to browse products.</p>
    {% endblock %}
  </main>

</body>
</html>
