{% extends "catalogue/base.html" %}
{% block title %}Product List{% endblock %}
{% block content %}
<h1 class="text-3xl font-bold mb-6">Product List</h1>
<div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    {% for product in products %}
    <div class="bg-white p-4 rounded shadow hover:shadow-lg transition">
        <h2 class="text-xl font-semibold mb-2 text-blue-600">
            <a href="{% url 'catalogue:product_detail' id=product.id %}" class="hover:underline">{{ product.name }}</a>
        </h2>
        <p class="text-gray-600 mb-4">{{ product.description }}</p>
        <p class="font-semibold">${{ product.price }}</p>

    </div>
    {% endfor %}
</div>
{% endblock %}
